<!-- Navigation Bar-->
<header id="topnav">

    <!-- Topbar Start -->
    <div class="navbar-custom">
        <div class="container-fluid">
            <ul class="list-unstyled topnav-menu float-right mb-0">

                <li class="dropdown notification-list">
                    <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect" data-toggle="dropdown" href="#"
                        role="button" aria-haspopup="false" aria-expanded="false">
                        <img src="/assets/img/White_Logout_Icon.png" alt="user-image" class="rounded-circle">
                        <span class="pro-user-name ml-1">
                            <i class="mdi mdi-chevron-down"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown ">

                        <!-- item-->
                        <a href="/users/logout" class="dropdown-item notify-item">
                            <i class="fe-log-out"></i>
                            <span>Logout</span>
                        </a>

                    </div>
                </li>


            </ul>

            <!-- LOGO -->
            <div class="logo-box">
                <a href="/dashboard" class="logo text-center">
                    <span class="logo-lg">
                        <img src="/assets/img/CAN_logo_web.png" alt="" height="70">
                    </span>
                    <span class="logo-sm">
                        <img class="mx-auto d-block" src="/assets/img/CAN_logo_web.png" alt="" height="60">
                    </span>
                </a>
            </div>

        </div> <!-- end container-fluid-->
    </div>
    <!-- end Topbar -->


    <!-- end navbar-custom -->

</header>
<!-- End Navigation Bar-->
