<body class="center-menu">

    <% include ./partials/navbar %>


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="wrapper">

        <div class="container-fluid">
            <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="d-flex" style="height: 30vh;">
                        <!-- <div class="m-auto card" > -->
                            <!-- <div class="card-body" style="height: 75%"> -->
                                <h4 class="m-auto text-success success">Email Sent Successfully <i class="fa fa-check"></i></h4>
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
            <!-- end page title -->
        </div> <!-- end card-->
    </div> <!-- end col -->

    </div> <!-- end container fluid-->
    </div><!-- end wrapper-->



    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

    <!-- Vendor js -->
    <script src="/js/vendor.min.js"></script>


    <!-- Sweet Alerts js -->
    <script src="/libs/sweetalert2/sweetalert2.min.js"></script>

    <!-- Sweet alert init js-->
    <script src="assets/js/pages/sweet-alerts.init.js"></script>

    <!-- App js-->
    <script src="/js/app.min.js"></script>

    <!-- Plugins js-->

    <script src="/libs/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="/libs/parsleyjs/parsley.min.js"></script>


    <!-- Init js-->
    <script src="/js/pages/form-wizard.init.js"></script>
    <script src="/js/pages/form-validation.init.js"></script>


    <!-- Scripts Used by All Pages-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>



    <!-- File Pond & Plugins-->
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script defer
        src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script defer src="/js/filepond-media-preview.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/js/fileUpload.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.579.0.min.js"></script>

    <!-- Alert Function -->
    <script type="text/javascript">
        $('#btn-submit').on('click', function (e) {
            e.preventDefault();
            var form = $(this).parents('form');
            Swal.fire({
                title: 'Are you sure you want to submit?',
                type: 'question',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, submit my film!'
            }).then((result) => {
                if (result.value) {
                    Swal.fire(
                        'Submitted!',
                        'Your film has been submitted!',
                        'success'
                    )
                    form.submit();

                }
            })
        });
    </script>

    <!-- Date Input-->

</body>

</html>