<body class="center-menu">

    <% include ./partials/navbar %>


    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->
    <div class="wrapper">

        <div class="container-fluid">
            <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="d-flex m-auto" style="height: 30vh;">
                        <!-- <h4 class="text-center"> </h4> -->
                        <h1 class="text-center m-auto text-danger danger"><i class="mr-3 fa fa-exclamation-triangle"></i><%= error %></h1>                            
                    </div>
                </div>
            </div>
            <!-- end page title -->
        </div> <!-- end card-->
    </div> <!-- end col -->

    </div> <!-- end container fluid-->
    </div><!-- end wrapper-->



    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->








    <!-- Date Input-->

</body>

</html>